<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body class="container">
    {{ partial "header.html" . }}
    
    <main id="main" role="main" class="contentwidth">
        {{ block "main" . }}
        <h2>Hi there!</h2>
        <p>This is content from <code>layouts/contact/baseof.html</code>.</p>
        {{ end }}
    </main>

    {{ partial "footer.html" . }}
    <script type="text/javascript" src="/js/purify.min.js"></script>
    <script>
        const sendButton = document.querySelector('[type="submit"]');
        const form = document.forms.namedItem('contact');
        let pageLoadStart;

        window.onload = () => { pageLoadStart = Date.now(); }

        const apiStatus = pingAPI();
                
        form.addEventListener('submit', (event) => {
            const nameInput = document.querySelector('[name="name"]');
            const emailInput = document.querySelector('[name="email"]');
            const subjectInput = document.querySelector('[name="subject"]');
            const messageInput = document.querySelector('[name="message"]');
            const pageLoadToSubmit = Date.now() - pageLoadStart;

            fetch(event.target.action, {
                method: 'POST',
                body: JSON.stringify({
                    name: sanitize(nameInput),
                    email: sanitize(emailInput),
                    subject: sanitize(subjectInput),
                    message: sanitize(messageInput),
                    interval: pageLoadToSubmit
                }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((response) => {
                displayMessage(response.status === 200);
            });
            
            event.preventDefault();
        });

        function sanitize(stringInput) {
            return DOMPurify.sanitize(stringInput.value);
        }

        function displayMessage(wasSuccessful) {
            if (typeof wasSuccessful != "boolean") { return; }

            const messageBox = document.createElement('div');
            messageBox.classList.add('message', 'message-initial-style');

            if (wasSuccessful) {
                messageBox.innerHTML = '<p>Your message was successfully sent! You should hear back by the end of the next business day.</p>'
                messageBox.classList.add('success');
            }
            else {
                messageBox.innerHTML = '<p>Something went wrong! <a href="/contact-us" title="Reload this page">Click here</a> to try again.</p>'
                messageBox.classList.add('error');
            }

            const parentNode = form.parentNode;
            parentNode.removeChild(form);
            parentNode.appendChild(messageBox);
            window.setTimeout(() => {
                messageBox.classList.remove('message-initial-style');
            }, 250);
        }

        function pingAPI() {
            fetch('https://false-link.glitch.me/api/status')
            .then((response) => {
                console.log(`API status: ${response.status === 200 ? 'ready' : 'not ready'}`);
                return response.status === 200;
            })
            .catch(error => {
                console.error('API error:', error);
                return false;
            })
        }
    </script>
</body>
</html>
