<!--
    The landmark role "contentinfo" is added here as the footer contains metadata that applies to the parent document.
-->
<footer role="contentinfo">
    <div class="footer-container">
        <div class="footer-nav">
            <nav class="contentwidth">
                <div class="footer-nav-item"><a href="/">Home</a></div>
                <div class="footer-nav-item"><a href="/news/">News</a></div>
                <div class="footer-nav-item"><a href="/contact-us/">Contact</a></div>
                <div class="footer-nav-item"><a href="/privacy-policy/">Privacy</a></div>
                <div class="footer-nav-item">
                    <a href="https://twitter.com/DroppedBitsHQ/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="footer-nav-item">
                    <a href="https://github.com/droppedbits/">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </nav>
        </div>
        <div class="footer-copyright">
            <div class="footer__left">
                &copy; <script>document.write(new Date().getFullYear())</script> Dropped Bits, Inc.
            </div>
            <div class="footer__logo">
                <img src="/images/monochrome-light-alpha-petals.svg" class="footer__logo--image" />
            </div>
            <div class="footer__right">
                Made with ♡ in Montreal
            </div>
            
        </div>
    </div>
</footer>