<a href="#main" class="a11y-hidden">Skip to content</a>

<header class="sitewide contentwidth" role="banner">
    <a class="db-header" alt="Return to home page" href="{{ .Site.BaseURL }}">
        <img class="header__site-logo" src="/images/full-colour-alpha-petals.svg" alt="Dropped Bits logo" />
        <p class="db-title">Dropped Bits, Inc.</p>
    </a>
    <a class="contact-header" alt="Go to the contact page" href="/contact-us/">
        <i class="far fa-comments"></i> Contact
    </a>
</header>