<form
  action="https://buttondown.email/api/emails/embed-subscribe/droppedbits"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/droppedbits', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email address to subscribe to the weekly newsletter.</label>
  <input type="email" name="email" id="bd-email" />
  <input type="hidden" value="1" name="embed" />
  <input class="bd-submit" type="submit" value="Subscribe" />
  <p class="small">
	<a href="https://buttondown.email" target="_blank">Powered by Buttondown</a>. We'll never share your contact information with anyone.
  </p>
</form>